<div class="container d-flex justify-content-center" >
        <div class="row">
            <h1 class="col-12 d-flex justify-content-center">Greate job!</h1>
            <div class="col-12 d-flex justify-content-center ">
                <h3>you earn {{score}} points</h3> 
            </div>
            <div class="row">
                <div class="col-12 mt-5">
                    <img class="rounded mx-auto d-block " src="../../assets/end.png">
                </div>
            </div>
        </div>
        
    
</div>